<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yingtingMapper">
    <select id="getYingtingBycinema" parameterType="int" resultType="com.ssm.entity.YingTing">
         SELECT * FROM  yingting where cinemaId=#{id}
    </select>
    <select id="getYingtingById" parameterType="int" resultType="com.ssm.entity.YingTing">
        SELECT * FROM  yingting where id=#{id}
    </select>
</mapper>